nav{
    margin-left: 790px;
    margin-bottom: 40px;
    scroll-padding-right: 9px;
    font-display: fallback;
    word-spacing: 9px;
    
}
body{
    background-color:rgba(247, 226, 226, 0.023) ;
    font-family: Roboto;
    padding: 15px;
    margin-top: 20px;
}
.logo{
    margin-top: 60px;
}
footer{
    text-align: center;
    height: 60px;
    background: brown;
    margin-top: 60px;
}
h1{
    margin-bottom: 15px;
    padding-left:15px;
}
.anouncement{
    

}
